In [16]:
import pandas as pd

# Read in the data
df = pd.read_excel('data/PrixElec.xlsx')
df.drop(columns=['Unnamed: 2','Unnamed: 5','Unnamed: 8' ], inplace=True)
cols = ['Samedi', 'Unnamed: 4', 'Dimanche', 'Unnamed: 7']
columns_to_drop = [col for col in df.columns if col not in cols]
df.drop(columns=columns_to_drop, inplace=True)
df.rename(columns={'Unnamed: 4': 'ct/KWh(Samedi)', 'Unnamed: 7': 'ct/KWh(Dimanche)'}, inplace=True)
df = df.drop(df.index[0])
df['Samedi'] = pd.to_datetime(df['Samedi'], format='%H', errors='coerce')
# Set a specific date '1.12.23' for the 'Samedi' column while maintaining the hour
df['Samedi'] = df['Samedi'].apply(lambda x: x.replace(year=2023, month=12, day=1) if pd.notnull(x) else pd.NaT)

df['Dimanche'] = pd.to_datetime(df['Samedi'], format='%H', errors='coerce')
# Set a specific date '1.12.23' for the 'Samedi' column while maintaining the hour
df['Dimanche'] = df['Samedi'].apply(lambda x: x.replace(year=2023, month=12, day=2) if pd.notnull(x) else pd.NaT)

df

                Samedi ct/KWh(Samedi)            Dimanche ct/KWh(Dimanche)
1  2023-12-01 00:00:00          11.65 2023-12-02 00:00:00            11.65
2  2023-12-01 01:00:00          11.65 2023-12-02 01:00:00            11.65
3  2023-12-01 02:00:00          11.65 2023-12-02 02:00:00            11.65
4  2023-12-01 03:00:00          11.65 2023-12-02 03:00:00            11.65
5  2023-12-01 04:00:00          11.65 2023-12-02 04:00:00            11.65
6  2023-12-01 05:00:00          11.65 2023-12-02 05:00:00            11.65
7  2023-12-01 06:00:00          11.65 2023-12-02 06:00:00            11.65
8  2023-12-01 07:00:00          15.62 2023-12-02 07:00:00            11.65
9  2023-12-01 08:00:00          15.62 2023-12-02 08:00:00            11.65
10 2023-12-01 09:00:00          15.62 2023-12-02 09:00:00            11.65
11 2023-12-01 10:00:00          15.62 2023-12-02 10:00:00            11.65
12 2023-12-01 11:00:00          15.62 2023-12-02 11:00:00            11.65
13 2023-12-01 12:00:00          15.62 2023-12-02 12:00:00            11.65
14 2023-12-01 13:00:00          15.62 2023-12-02 13:00:00            11.65
15 2023-12-01 14:00:00          15.62 2023-12-02 14:00:00            11.65
16 2023-12-01 15:00:00          11.65 2023-12-02 15:00:00            11.65
17 2023-12-01 16:00:00          11.65 2023-12-02 16:00:00            11.65
18 2023-12-01 17:00:00          11.65 2023-12-02 17:00:00            11.65
19 2023-12-01 18:00:00          11.65 2023-12-02 18:00:00            11.65
20 2023-12-01 19:00:00          11.65 2023-12-02 19:00:00            11.65
21 2023-12-01 20:00:00          11.65 2023-12-02 20:00:00            11.65
22 2023-12-01 21:00:00          11.65 2023-12-02 21:00:00            11.65
23 2023-12-01 22:00:00          11.65 2023-12-02 22:00:00            11.65
24 2023-12-01 23:00:00          11.65 2023-12-02 23:00:00            11.65

In [25]:
result = pd.concat([df['Samedi'], df['ct/KWh(Samedi)']], axis=1)
result.columns = ['Datetime', 'ct/KWh']
result2= pd.concat([df['Dimanche'], df['ct/KWh(Dimanche)']], axis =1) 
result2.columns = ['Datetime', 'ct/KWh']
result
result2

              Datetime ct/KWh
1  2023-12-02 00:00:00  11.65
2  2023-12-02 01:00:00  11.65
3  2023-12-02 02:00:00  11.65
4  2023-12-02 03:00:00  11.65
5  2023-12-02 04:00:00  11.65
6  2023-12-02 05:00:00  11.65
7  2023-12-02 06:00:00  11.65
8  2023-12-02 07:00:00  11.65
9  2023-12-02 08:00:00  11.65
10 2023-12-02 09:00:00  11.65
11 2023-12-02 10:00:00  11.65
12 2023-12-02 11:00:00  11.65
13 2023-12-02 12:00:00  11.65
14 2023-12-02 13:00:00  11.65
15 2023-12-02 14:00:00  11.65
16 2023-12-02 15:00:00  11.65
17 2023-12-02 16:00:00  11.65
18 2023-12-02 17:00:00  11.65
19 2023-12-02 18:00:00  11.65
20 2023-12-02 19:00:00  11.65
21 2023-12-02 20:00:00  11.65
22 2023-12-02 21:00:00  11.65
23 2023-12-02 22:00:00  11.65
24 2023-12-02 23:00:00  11.65

In [28]:
merged_df = pd.concat([result, result2], ignore_index=True)
merged_df
merged_df.to_csv('data/electricity_price.csv', index=False)